.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 1rem;
  box-sizing: border-box;
}


.login-container .back-link {
  margin-top: 1rem;
  color: var(--light);
}

.login-container .login-form {
  width: 35rem;
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
}

.login-container .form-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.login-container .form-group {
  margin-bottom: 1rem;
  width: 160%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: center;
}

.login-container .form-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.login-container .error-text {
  color: red;
  margin: 0.5rem 0;
  text-align: center;
}

.login-container .submit-button {
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--tertiary);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

.login-container .submit-button:hover {
  background-color: #0056b3;
}


.login-container.signup-mode .slider {
  transform: translateX(100%);
}

.login-container.signup-mode .login-form {
  transform: translateX(-100%);
}
