.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container .back-link {
  margin-top: 1rem;
  color: var(--light);
}

.login-container .login-form {
  width: 18rem;
  margin-top: 2rem;
  padding: 1.5rem;
  border: 1px solid var(--tertiary);
  border-radius: 5px;
  background-color: var(--primary);
}

.login-container .form-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.login-container .form-group {
  margin-bottom: 1rem;
}

.login-container label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.login-container .form-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  min-width: 15rem;
}

.login-container .error-text {
  color: red;
}

.login-container .submit-button {
  padding: 0.5rem 1rem;
  background-color: var(--tertiary);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container .submit-button:hover {
  background-color: #0056b3;
}
