.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Adjust the height as needed */
}

.login-container .back-link {
  margin-top: 1rem;
  color: var(--light);
}

.login-container .login-form {
  width: 35rem;
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form horizontally */
}

.login-container .form-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center; /* Center the form title text */
}

.login-container .form-group {
  margin-bottom: 1rem;
  width: 100%; /* Adjust the width of form groups to fill the container */
}

.login-container label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: center; /* Center the labels */
}

.login-container .form-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-container .error-text {
  color: red;
  margin: 0.5rem 0;
  text-align: center; /* Center the error text */
}

.login-container .submit-button {
  padding: 0.5rem 1rem;
  background-color: var(--tertiary);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content; /* Set the button width to fit its content */
}

.login-container .submit-button:hover {
  background-color: #0056b3;
}
