.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-container .back-link {
  margin-top: 1rem;
  color: var(--light);
}

.signup-container .signup-form {
  width: 35rem;
  margin-top: 2rem;
  padding: 1.5rem 2rem;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
}

.signup-container .form-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.signup-container .form-group {
  margin-bottom: 1rem;
  width: 160%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-container label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.signup-container .form-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  min-width: 15rem;
}



.signup-container .submit-button {
  padding: 0.5rem 1rem;
  background-color: var(--tertiary);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-container .submit-button:hover {
  background-color: #0056b3;
}
